*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-font-color: black;
    --secundair-font-color: white;
    --highlight-color: #B5073A;
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 900px;
    width: 80vw;
}