*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-font-color: black;
    --secundair-font-color: white;
    --highlight-color: pink;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}