.footer{
    height: 100vh;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secundair-font-color);
}

.field:first-of-type{
    margin-right: 50px;
}

.address{
    margin: 40px 0;
}
.address p,
.contact p{
    margin: 5px 0;
}

.info_container{
    display: flex;
}

.contact{
    margin-bottom: 30px;
}