.logo{
    font-size: 1em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 110px;
    width: 110px;
    padding: 5px;
    background-color: var(--highlight-color);
}